<div class="container-fluid ">
  <div class="card">
    <div class="card-body">
      <div class="outerHeading">
        <p class="heading">Task Management System </p>
      </div>
     
<div class="OuterSubHeading ">
  <div class="col-3">
    <p>My Tasks</p>
  </div>
  <div class="col-3">
    
    <button type="button" class="buttonClass" (click)="showForm()">Create New Task</button>
  </div>
</div>
      
      <div class="">
        <div *ngIf="fromShow">
          <!-- <div > -->
          <app-task-from > </app-task-from>
        </div>
        <div>
          <app-task-list > </app-task-list>
        </div>
        </div>
  
      </div>
    
    </div>
   

  </div>

